<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/limit.js"></script>
  </head>
  <body>
    <div class="content">
      <div class="inputArea">
        <h1 class="appTitle"><%= title %></h1>
        <div class="inputTodo">
          <form action="/add" method="POST">
            <input
              class="addText"
              type="text"
              name="todo"
              placeholder="input todo"
            />
            <button class="addBtn" type="submit">add</button>
            <input id="date" type="date" name="date" value="">
          </form>
        </div>
      </div>

      <div class="lists">
        <div class="list">
          <h2 class="title">TodoList</h2>
          <ul class="todoList" id="todoList"></ul>
        </div>
        <div class="list">
          <h2 class="title">DoingList</h2>
          <ul class="doingList" id="doingList"></ul>
        </div>
        <div class="list">
          <h2 class="title">DoneList</h2>
          <ul class="doneList" id="doneList"></ul>
        </div>
        <div>
          <div class="list">
            <h2 class="title">Limit</h2>
            <ul class="limit" id="limit"></ul>
        </div>
      </div>
    </div>
  </body>
</html>
