<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTodoApp</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/limit.css" />
    <script src="/javascripts/style.js"></script>
  </head>
  <body>
    <%- include("header"); %>

    <div class="content">
      <div class="inputArea">
        <h1 class="appTitle"><%= title %></h1>
        <div class="inputTodo" id="inputTodo"></div>
      </div>

      <div class="lists">
        <div class="list">
          <h2 class="title">TodoList</h2>
          <ul class="todoList" id="todoList"></ul>
        </div>
        <div class="list">
          <h2 class="title">DoingList</h2>
          <ul class="doingList" id="doingList"></ul>
        </div>
        <div class="list">
          <h2 class="title">DoneList</h2>
          <ul class="doneList" id="doneList"></ul>
        </div>
        <div class="list">
          <h2 class="title">Limit</h2>
          <ul class="limitList" id="limitList"></ul>
        </div>
      </div>
    </div>
  </body>

  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/limit.js"></script>
  <script src="/javascripts/expired.js"></script>
</html>
