<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/signup.css">
  </head>
  <body>
    <div class = "signup">
      <p>Tascal アカウントの作成</p>
      <form action="/signup" method="post">
        <input type="text" placeholder="ユーザーネーム" name="username"/><br>
        <input type="text" placeholder="email" name="email"/><br>
        <input type="password" placeholder="パスワード" name="password"/><br>
        <input type="button" value="作成">
      </form>
    </div>
  </body>
</html>