<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div>
      <a href="/addTeam">チームを追加</a>
    </div>
    <ul class="printTeams" id="printTeams"></ul>
  </body>

  <script src="/javascripts/printTeams.js"></script>
</html>
