.content {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.inputArea {
  height: 20vh;
}

.lists {
  height: 80vh;
}

/* add form */
.appTitle {
  margin: 0;
  padding-top: 0.5rem;
}

.addText {
  width: 80%;
  height: 2rem;
  margin: 0.5rem;
}

.addBtn {
  width: 30%;
  margin: 0.5rem;
}

/* list */
.lists {
  display: flex;
}

.list {
  width: 100%;
  height: 100%;
}

.title {
  height: 5%;
  margin: 0;
}

.todoList,
.doingList,
.doneList {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 95%;
  overflow-y: scroll;
}

.todo,
.doing,
.done {
  margin: 1rem;
  border: 1px solid;
  padding: 1rem;
}

.transform,
.deleteform {
  display: inline-block;
  margin: 0 1rem;
}
