.content {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.inputArea {
<<<<<<< HEAD
  height: 30vh;
  background-color: darkorange;
}
/* 
.user_team {
  display: flex;
=======
  height: 20vh;

>>>>>>> feature/styling
}

.acct {
  display: flex;
} */

.lists {
  height: 70vh;
}

/* add form */
.appTitle {
  margin: 0;
  padding-top: 0.5rem;
  color: aliceblue;
  background-color: dodgerblue;
}

.addText {
  width: 80%;
  height: 2rem;
  margin: 0.5rem;
}

.addBtn {
  width: 30%;
  margin: 0.5rem;
  cursor: pointer;
}

<<<<<<< HEAD
#date {
=======
.addBtn:hover{
  color:aliceblue;
  background-color:dodgerblue;
}


#date{
>>>>>>> feature/styling
  cursor: pointer;
}

/* list */
.lists {
  display: flex;
}

.list {
  width: 100%;
  height: 100%;
}

.title {
  height: 5%;
  margin: 0;
}

.todoList,
.doingList,
.doneList,
.limitList {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 95%;
  overflow-y: scroll;
}

.todo,
.doing,
.done,
.limit {
  margin: 1rem;
  border: 1px solid;
  padding: 1rem;
}

.transform,
.deleteform {
  display: inline-block;
  margin: 0 1rem;
}

#doingBtn,
#doneBtn,
#deleteBtn {
  cursor: pointer;
}

<<<<<<< HEAD
.title {
=======
#doingBtn:hover,
#doneBtn:hover,
#deleteBtn:hover{
>>>>>>> feature/styling
  color: aliceblue;
  background-color: dodgerblue;
}

<<<<<<< HEAD
header {
  justify-items: center;
}
=======
.addText:hover{
  background-color: dodgerblue;
}

#date:hover{
  background-color: dodgerblue;
  color: aliceblue;
}
>>>>>>> feature/styling
